-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'BCH', 'STUDENT');

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "class_id" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'STUDENT',
    "studentId" INTEGER,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Class" (
    "name" TEXT NOT NULL,
    "active_semester_id" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Class_pkey" PRIMARY KEY ("name")
);

-- CreateTable
CREATE TABLE "Student" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "student_code" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "class_id" TEXT NOT NULL,
    "order_number" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Student_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BchAssignment" (
    "id" SERIAL NOT NULL,
    "bchUserId" INTEGER NOT NULL,
    "classId" TEXT NOT NULL,
    "fromOrder" INTEGER NOT NULL,
    "toOrder" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BchAssignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Semester" (
    "name" TEXT NOT NULL,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "isGlobal" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Semester_pkey" PRIMARY KEY ("name")
);

-- CreateTable
CREATE TABLE "TrainingScore" (
    "id" SERIAL NOT NULL,
    "student_id" INTEGER NOT NULL,
    "y_thuc" INTEGER NOT NULL,
    "hoat_dong" INTEGER NOT NULL,
    "ky_luat" INTEGER NOT NULL,
    "total" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "details" JSONB,
    "admin_details" JSONB,
    "status" TEXT NOT NULL DEFAULT 'APPROVED',
    "admin_hoat_dong" INTEGER,
    "admin_ky_luat" INTEGER,
    "admin_notes" TEXT,
    "admin_total" INTEGER,
    "admin_y_thuc" INTEGER,
    "semester_id" TEXT NOT NULL,

    CONSTRAINT "TrainingScore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Attendance" (
    "id" SERIAL NOT NULL,
    "student_id" INTEGER NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deviceInfo" TEXT,
    "ipAddress" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "baselineCreated" BOOLEAN NOT NULL DEFAULT false,
    "verifiedIp" BOOLEAN,
    "verifiedLocation" BOOLEAN,
    "profileDistance" DOUBLE PRECISION,
    "sessionDistance" DOUBLE PRECISION,
    "session_id" INTEGER,

    CONSTRAINT "Attendance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AttendanceSession" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "subject" TEXT NOT NULL DEFAULT '',
    "class_id" TEXT,
    "qrToken" TEXT NOT NULL,
    "lat" DOUBLE PRECISION NOT NULL,
    "lng" DOUBLE PRECISION NOT NULL,
    "radius" DOUBLE PRECISION NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "endedAt" TIMESTAMP(3),
    "sessionDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AttendanceSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentAttendanceProfile" (
    "id" SERIAL NOT NULL,
    "student_id" INTEGER NOT NULL,
    "firstIpAddress" TEXT NOT NULL,
    "firstLatitude" DOUBLE PRECISION NOT NULL,
    "firstLongitude" DOUBLE PRECISION NOT NULL,
    "firstCheckInAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastIpAddress" TEXT,
    "lastLatitude" DOUBLE PRECISION,
    "lastLongitude" DOUBLE PRECISION,
    "lastCheckInAt" TIMESTAMP(3),
    "totalVerifiedCheckIns" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "StudentAttendanceProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_SemesterScope" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_SemesterScope_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_studentId_key" ON "User"("studentId");

-- CreateIndex
CREATE INDEX "Class_active_semester_id_idx" ON "Class"("active_semester_id");

-- CreateIndex
CREATE UNIQUE INDEX "Student_student_code_key" ON "Student"("student_code");

-- CreateIndex
CREATE UNIQUE INDEX "Student_email_key" ON "Student"("email");

-- CreateIndex
CREATE INDEX "Student_class_id_idx" ON "Student"("class_id");

-- CreateIndex
CREATE INDEX "Student_class_id_order_number_idx" ON "Student"("class_id", "order_number");

-- CreateIndex
CREATE INDEX "BchAssignment_bchUserId_idx" ON "BchAssignment"("bchUserId");

-- CreateIndex
CREATE INDEX "BchAssignment_classId_fromOrder_toOrder_idx" ON "BchAssignment"("classId", "fromOrder", "toOrder");

-- CreateIndex
CREATE INDEX "Semester_isGlobal_startDate_endDate_idx" ON "Semester"("isGlobal", "startDate", "endDate");

-- CreateIndex
CREATE INDEX "TrainingScore_status_idx" ON "TrainingScore"("status");

-- CreateIndex
CREATE INDEX "TrainingScore_semester_id_idx" ON "TrainingScore"("semester_id");

-- CreateIndex
CREATE INDEX "TrainingScore_student_id_createdAt_idx" ON "TrainingScore"("student_id", "createdAt");

-- CreateIndex
CREATE INDEX "TrainingScore_semester_id_status_idx" ON "TrainingScore"("semester_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "TrainingScore_student_id_semester_id_key" ON "TrainingScore"("student_id", "semester_id");

-- CreateIndex
CREATE INDEX "Attendance_date_idx" ON "Attendance"("date");

-- CreateIndex
CREATE INDEX "Attendance_student_id_date_idx" ON "Attendance"("student_id", "date");

-- CreateIndex
CREATE INDEX "Attendance_session_id_idx" ON "Attendance"("session_id");

-- CreateIndex
CREATE INDEX "Attendance_session_id_student_id_idx" ON "Attendance"("session_id", "student_id");

-- CreateIndex
CREATE UNIQUE INDEX "AttendanceSession_qrToken_key" ON "AttendanceSession"("qrToken");

-- CreateIndex
CREATE INDEX "AttendanceSession_class_id_isActive_idx" ON "AttendanceSession"("class_id", "isActive");

-- CreateIndex
CREATE INDEX "AttendanceSession_class_id_sessionDate_idx" ON "AttendanceSession"("class_id", "sessionDate");

-- CreateIndex
CREATE INDEX "AttendanceSession_isActive_sessionDate_idx" ON "AttendanceSession"("isActive", "sessionDate");

-- CreateIndex
CREATE UNIQUE INDEX "StudentAttendanceProfile_student_id_key" ON "StudentAttendanceProfile"("student_id");

-- CreateIndex
CREATE INDEX "_SemesterScope_B_index" ON "_SemesterScope"("B");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Class" ADD CONSTRAINT "Class_active_semester_id_fkey" FOREIGN KEY ("active_semester_id") REFERENCES "Semester"("name") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Student" ADD CONSTRAINT "Student_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "Class"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BchAssignment" ADD CONSTRAINT "BchAssignment_bchUserId_fkey" FOREIGN KEY ("bchUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainingScore" ADD CONSTRAINT "TrainingScore_semester_id_fkey" FOREIGN KEY ("semester_id") REFERENCES "Semester"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainingScore" ADD CONSTRAINT "TrainingScore_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attendance" ADD CONSTRAINT "Attendance_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "AttendanceSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attendance" ADD CONSTRAINT "Attendance_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "Student"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceSession" ADD CONSTRAINT "AttendanceSession_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "Class"("name") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentAttendanceProfile" ADD CONSTRAINT "StudentAttendanceProfile_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "Student"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SemesterScope" ADD CONSTRAINT "_SemesterScope_A_fkey" FOREIGN KEY ("A") REFERENCES "Class"("name") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SemesterScope" ADD CONSTRAINT "_SemesterScope_B_fkey" FOREIGN KEY ("B") REFERENCES "Semester"("name") ON DELETE CASCADE ON UPDATE CASCADE;

